.product_card{
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 0 3px black;
}
.product_card .prodoct_img{
    width: 100%;
    height: 60%;
    display: grid;
    place-items: center;
}
.product_card .prodoct_img img{
   width: 60%;
}
.product_card .product_content{
    width: 80%;
    height: 40%;
    padding: 1em 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_card .product_content h3{
    color: rgb(48, 41, 41);
}
.product_card .product_content p{
    color: rgb(93, 88, 88);
}
.product_card .product_content a{
    width: auto;
    text-decoration: none;
    background-color: rgb(51, 93, 133);
    color: aliceblue;
    text-align: center;
    padding: 0.3em 0;
    border-radius: 2px;
}
